baidu-aip==2.2.17.0
certifi==2019.6.16
chardet==3.0.4
dlib==19.17.0
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.0
opencv-python==4.1.0.25
Pillow==8.3.2
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
urllib3==1.25.3
wxPython==4.0.6
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
